<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Guest Checkout</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
</head>
<body>
<h2>Guest Checkout</h2>
<form method="post" th:action="@{/guests/getGuestDetails}">
    <label for="guestId">Guest ID:</label>
    <input type="text" id="guestId" name="guestId" required><br><br>

    <input type="submit" value="Get Guest Details">
</form>

<!-- Display guest details -->
<div id="guestDetails" th:if="${guestName}">
    <h3>Guest Details:</h3>
    <p><strong>Name:</strong> <span th:text="${guestName}"></span></p>
    <p><strong>Surname:</strong> <span th:text="${guestSurname}"></span></p>
    <p><strong>Room Number:</strong> <span th:text="${guestRoomNumber}"></span></p>

    <h3>Checkout</h3>
    <form method="post" th:action="@{/guests/checkout}">
        <input type="hidden" id="guestIdCheckout" name="guestId" th:value="${guestId}" required>
        <input type="submit" value="Checkout">
    </form>
</div>

<div th:if="${message}">
    <h2>Get Details Result</h2>
    <h3 th:text="${message}"></h3>
</div>
<div>
    <button onclick="location.href='/hotel'" type="button">Go Back</button>
</div>
</body>
</html>
