<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hotel Management System</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <script th:inline="javascript">
        function navigate(url) {
            window.location.href = url;
        }
    </script>
</head>
<body>
<h1>Welcome to Hotel Management System</h1>
<button class="button" th:onclick="|javascript:navigate('/guests/registerGuest')|">Register Guest</button>
<button class="button" th:onclick="|javascript:navigate('/guests/checkout')|">Checkout Guest</button>
<button class="button" th:onclick="|javascript:navigate('/guests/roomOccupancy')|">View Occupancy</button>
<button class="button" th:onclick="|javascript:navigate('/guests/roomHistory')|">View History</button>
</body>
</html>
