<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration Result</title>
</head>
<body>
<h2>Registration Result</h2>
<h3 th:text="${message}"></h3>
<p th:if="${guestId}">Guest ID: <span th:text="${guestId}"></span></p>
<p th:if="${guestName}">Guest Name: <span th:text="${guestName}"></span></p>
<p th:if="${guestSurname}">Guest Surname: <span th:text="${guestSurname}"></span></p>
<p th:if="${roomNumber}">Room Number: <span th:text="${roomNumber}"></span></p>
<p th:if="${guestId}">Guest ID: <span th:text="${guestId}"></span></p>
</body>
</html>
