<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hotel Management System - Room Status</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
</head>
<body>
<h1>Room Status</h1>
<table>
    <thead>
    <tr>
        <th>Total Rooms</th>
        <th>Available Rooms</th>
        <th>Occupied Rooms</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="detail : ${details}">
        <td th:text="${detail.totalRooms}"></td>
        <td th:text="${detail.availableRooms}"></td>
        <td th:text="${detail.occupiedRooms}"></td>
    </tr>
    </tbody>
</table>
<table>
    <thead>
    <tr>
        <th>Room Number</th>
        <th>Status</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="room : ${rooms}">
        <td th:text="${room.roomNumber}"></td>
        <td th:text="${room.status}"></td>
    </tr>
    </tbody>
</table>
<button onclick="location.href='/hotel'" type="button">Go Back to Home</button>
</body>
</html>
